# **Week 2 Project**

**Question 1:**
Using JOIN get the student names, school id, email, phone number (new_stud_details)

**Answer:**


```
select 	pd.stud_name,
		cd.phone_number,
        sd.stud_email,
        pd.stud_ID
FROM personal_details pd
JOIN contact_details cd
join school_details sd
```

**Question 2:** Create a table with all the details from contacts to school and financial details (full_stud_details)

**Answer**


```
CREATE TABLE full_stud_details AS
	SELECT	cd.stud_email,
			cd.phone_number,
            cd.next_of_kin_name,
            cd.next_of_kin_relation,
            cd.next_of_kin_contacts,
            fd.stud_ID,
            fd.stud_name,
            fd.sem_fee,
            fd.fee_paid,
            pd.age,
            pd.gender,
            sd.current_home_county,
            sd.secondary_school_county,
            sd.residence
    
	FROM
		contact_details cd,
		financial_details fd,
		personal_details pd,
		school_details sd
		;
        
        select * from full_stud_details
```

**Question 3** Add student names on any empty row of stud_name in financial_details

**Answer**


```
SET SQL_SAFE_UPDATES = 0;

UPDATE financial_details
SET stud_name = 'Douglas Kimathi'
WHERE stud_name IS NULL;

select
	stud_name
from financial_details;
```

**Question 4:** On the financial_details table add a column, fee_cleared, that has True if student has cleared current fee and False if not (financial_details_view)

**Answer:**


```
SET SQL_SAFE_UPDATES = 0;
ALTER TABLE financial_details
ADD COLUMN fee_cleared BOOLEAN;

UPDATE financial_details
SET fee_cleared = (sem_fee = fee_paid);

select *
from financial_details;
```

**Question 5:** Get the national ID and name of all students who have cleared their fees (fee_cleared)

**Answer:**


```
select pd.national_ID, pd.stud_name
from personal_details pd
join financial_details fd
where fd.fee_cleared = TRUE;
```

**Question 6:** Get the total sum of fees paid so far and the total current deficit (total_fee_balance)

**Answer:**


```
ALTER TABLE financial_details
ADD COLUMN fee_balance int;

UPDATE financial_details
SET fee_balance = (sem_fee - fee_paid);

SELECT
    SUM(fee_paid) AS total_fees_paid,
    SUM(fee_balance) AS total_current_deficit
FROM financial_details;
```

**Question 7:**
Get the count of students who share a current home county i.e., Say Nairobi, get the number of students whoâ€™s current_home_county is Nairobi, and so on for all available counties (home_county_count)

**Answer:**


```
SELECT current_home_county, COUNT(*) AS student_count
FROM school_details
GROUP BY current_home_county
ORDER BY current_home_county;
```

**Question 8:**
Get the count of Male and/or Female students from each secondary_school_county (secondary_school_count). The table should contain a column for male student count and female student count for each county.

**Answer:**


```
SELECT
    secondary_school_county,
    SUM(CASE WHEN pd.gender = 'Male' THEN 1 ELSE 0 END) AS male_student_count,
    SUM(CASE WHEN pd.gender = 'Female' THEN 1 ELSE 0 END) AS female_student_count
FROM school_details
JOIN personal_details pd
GROUP BY secondary_school_county
ORDER BY secondary_school_county;
```

**Question 9:**
Get the percentage of students who set their next_of_kin as Mother vs those that set it as Father1. (kin_percentage)

**Answer:**


```
SELECT
    (SUM(CASE WHEN next_of_kin_relation = 'Mother' THEN 1 ELSE 0 END) * 100.0) /
    (SUM(CASE WHEN next_of_kin_relation IN ('Mother', 'Father') THEN 1 ELSE 0 END)) AS kin_percentage
FROM contact_details;
```